<html>
    <head>
        <title>TASK</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/task.js"></script>
    </head>
    <body>
        {{#if title}}
            <h2>{{title}}</h2>
        {{/if}}

        <input type="search" id="searchField">
        <button id="searchbtn">Search</button><br><br>  
        <button id="addBtn">Add here</button>
        <button id="deletebtn">Delete</button>
        <button id="editbtn">Edit</button><br>
        
        {{#if showUserName}}
            <h3>{{createdBy}}</h3>
        {{else}}
            <h3>Unknown Author</h3>
        {{/if}}

        {{#unless err}}
            <h4>Warning: Success</h4>
        {{/unless}}
        <h1>Task table</h1>
        
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>description</th>
                        <th>Status</th>
                        <th>owner</th>
                </thead>
                <tbody>
                    {{#each taskArr}}
                        <tr>
                            <td><input type = "checkbox" id="{{this.id}}"></td>
                            <td>{{this.description}}</td>
                            <td>
                                {{#if this.completed}}
                                    completed
                                {{else}}
                                    Incomplete
                                {{/if}}                            
                            </td>
                            <td>{{this.owner}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
    </body>
</html>